[Unit]
Description = Developer utility toolkit helper daemon

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/udevd

[Install]
WantedBy=multi-user.target
